<!DOCTYPE html>
<html>
<head>
  <title>Mental Load - Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="64x64" href="/icons8-brain-64.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
</head>
<body>
  <div>
    <h1>Bemvindo! Vamos dar início ao jogo.</h1>
    <div id="instructions">
      <p>Para jogar é bem simples:</p>
      <ul style="list-style:none; text-align: justify;">
        <li>1. Escolha uma caixinha branca, ou da esquerda ou da direita, e tente encontrar a nota de 100 reais.</li>
        <li>2. No início de cada rodada posicione o mouse no círculo vermelho.</li>
        <li>3. Cuidado! Se demorar muito para escolher, voltará para o início do jogo.</li>
      </ul>
      <form action="play" method="post">
        <input type="hidden" name="arr" id="arr" value="">
        <input type="hidden" name="percentage" id="percentage" value="<%= percentage%>">
        <input type="hidden" name="rounds" id="rounds" value="<%= rounds%>">      
        <input type="hidden" name="timeReward" id="timeReward" value="<%= timeReward%>">      
       
        <button class="button" type="submit"><i class="fa-solid fa-play" style="font-size:xx-large; color: #000000;"></i></button>
      </form>
    </div>  
  </div>   
  <script>
    /*
    @Daniel Gomes de Almeida Filho
    tem ambiguidade na frase:
    Insira o percentual de vezes que a nota de R$ 100 deverá aparecer do lado esquerdo.

    Se 20% for atribuido ao percentual, então a nota de 100 reais deverá aparecer 20% das rodadas do lado esquerdo?



    Como eu calculo o percentual de vezes?
    Pelo codigo fonte no matlab o percentual refere-se ao pool, ao inves do numero de rodadas. Porque?

    nBol pode ser  o numero de rodadas?? o que isso implica? caso ngativo, porque nao?

    Ainda que nBol seja definido, necessitamos de um decisor.
    apos o calculo de PErc2 e PErc100, que deve-se fazer?

    como atribuir a nota de 100 à esquerda e/iu direita com base nos percentuais?
    

    */
    $(document).ready(function() {
      
      const nBol = 1000 // '<%=rounds%>';  // What is nBol??  it is defintely not turns. nBol must be big enough to allow most accuracy 
      const percEsq = '<%=percentage%>'/100;
      const rodadas = '<%=rounds%>';
      const timeRew = '<%=timeReward%>';
      console.log('TimeReward', timeRew, 's');
      const esq = new Array(rodadas).fill(0);

      console.log('percEsq: ', percEsq);

      const n100 = Math.round(nBol * percEsq);
      console.log('n100: ', n100);

      const n2 = nBol - n100;
      console.log('n2: ', n2);

      const idx = [0, 1];
      const pool = new Array(n2).fill(idx[0]).concat(new Array(n100).fill(idx[1]));

      console.log(pool.length);
      console.log('pool', pool);

     
      for (let i = 0; i < rodadas; i++) {
          const index = Math.floor(Math.random() * 1000);
          esq[i] = pool[index];
      }

      const p2 = esq.filter(value => value === 0).length / rodadas;
      const p100 = esq.filter(value => value === 1).length / rodadas;

      console.log(p2, p100);
      console.log('esq', esq);
      $('#p2').val(p2);
      $('#p100').val(p100);
      $('#arr').val(esq);


    });
  </script>
</body>
</html>
