<!DOCTYPE html>
<html>
<head>
  <title>Carga Mental - Play</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="64x64" href="/icons8-brain-64.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/styles.css">  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div id="container" class="container">
    <h1>Jogo</h1>

    <div id="result-block" style="display:none;">
      <p id="result-message"></p>
      <button class="button" id="result-button" style="display:none;"><i class="fa-solid fa-magnifying-glass" style="font-size:xx-large; color: #000000;"></i></button>
      <button class="button" id="saveButton" style="display:none;"><i class="fas fa-save" style="font-size:xx-large; color: #000000;"></i></button>



      <div id="result-list" style="display:none;">
        <ul id="items-list" style="list-style:none;margin-left:-3%;"></ul>
        <p id="max"></p>
        <p id="wins"></p>
        <p id="lefts"></p>
        <p id="interval"></p>
      </div>      

    </div>

    <div id="reset-block" style="display:none;">
      <h3 id="message"></h3>      
      <form action="game" method="post">
        <input type="hidden" name="percentage" id="percentage" value="<%= percentage %>">        
        <input type="hidden" name="rounds" id="rounds" value="<%= rounds %>">      
        <input type="hidden" name="timeReward" id="timeReward" value="<%= timeReward %>">      
        <button class="button" id="game"><i class="fa-solid fa-play" style="font-size:xx-large; color: #000000;"></i></button>
      </form>
      <p>Clique para reiniciar</p>      
    </div>

    <div id="play-console">
      <p>Rodada: <span id="round">1</span> / 10</p>
      <div id="buttons" class="buttons">
        <button class="button" id="left" class="button primary"></button>
        <button class="button" id="right" class="button primary"></button>
      </div>
    </div>
     
    <div id="img-display" class="image-container" style="display:none;">
      <img id="prize5-image" width="447" src="/images/5reais.png" alt="Prize 5 Image" style="display:none;">
      <img id="prize10-image" width="447" src="/images/10reais.png" alt="Prize 10 Image" style="display:none;">
      <img id="prize50-image" width="447" src="/images/50reais.png" alt="Prize 50 Image" style="display:none;">
      <img id="prize100-image" width="447" src="/images/100reais.png" alt="Prize 100 Image" style="display:none;">
    </div>

    <div id="chosen-block" style="text-align:center; display:none">
      <h1 id="choice"></h1>
    </div>

    <div id="loader-block" class="loader-block" style="display:block;">
      <p>Tempo Restante: <span id="timer">6</span> segundos</p>         
    
     <div id="timer" style="color:white; display:none;">00:00:00</div>
     <text x="100" y="100" text-anchor="middle" style="display:none;"><tspan id="timeLeft"></tspan></text>

      <div class="timer animatable">
      <svg>
        <circle cx="50" cy="50" r="33"/>
        <circle cx="50" cy="50" r="33" pathLength="1" />
      </svg>
      </div>
    </div>
   

  </div>

  <script>
    function resetCountdown(seconds) {
      currentRound++;
      secondsLeft = seconds;
      // start timer
      startCountdown();
      // next round
      document.getElementById('round').textContent = currentRound;
    }


    function startCountdown() {
      const timerElement = document.getElementById('timer');
      timerElement.textContent = secondsLeft;
      countdownInterval = setInterval(function() {
        secondsLeft--;
        if (secondsLeft >= 0) {
          timerElement.textContent = secondsLeft;
        }
        if (secondsLeft === 0) {
          clearInterval(countdownInterval);
          if (currentRound < 10) {
            // currentRound++;
            // document.getElementById('round').textContent = currentRound;
            // secondsLeft = 6;
            $('#loader-block').hide();
            $('#buttons').hide();
            $('#reset-block').show();    
            // setTimeout(startCountdown, 1000); // Start the next round after a 1-second delay
          } else {
            document.getElementById('round').textContent = '10 (Game Over)';
            timerElement.textContent = '0';
          }
        }
      }, 1000);
    }




    // Function to convert data to CSV format
    function convertToCSV(data) {
      const header = Object.keys(data[0]).join(",") + "\n";
      const rows = data.map(obj => Object.values(obj).join(",")).join("\n");
      return header + rows;
    }

    // Function to trigger the download
    function downloadCSV(data, filename) {
      const csvData = convertToCSV(data);
      const blob = new Blob([csvData], { type: "text/csv" });

      // Create a download link
      const link = document.createElement("a");
      link.href = URL.createObjectURL(blob);
      link.download = filename;

      // Simulate a click on the link to trigger the download
      link.click();

      // Clean up
      URL.revokeObjectURL(link.href);
    }




    function endGame() {

      document.getElementById('round').textContent = '10 (Game Over)';
      secondsLeft = 0
      $('#buttons').hide();
      $('#play-console').hide();
      $('#loader-block').hide();


      // 
      $('#img-display').hide();
      $('#prize-image').hide();
      $('#no-prize-image').hide();
      $('#buttons').hide();
      $('#loader-block').hide();
      $('#result-message').text('Fim de Jogo!');
      results.forEach(function(item,index) {
        console.log('item',item);
        // $('#items-list').append('<li>Rodada ' + parseInt(parseInt(index)+1) + ': ' + item + '</li>');
      });

      // a) Mostrar só o quanto a pessoa ganhou sobre o máximo que ela poderia ter ganhado (número de rodadas x 100).
      $('#max').text('Pontos: ' + (wins*100) + '/' + (currentRound*100));
      
      // b) Mostrar o aproveitamento percentual quantas vezes ela acertou a nota de 100
      $('#wins').text('Acertos: ' + ((wins/(currentRound))*100) + '%');
      console.log('wins: ', wins);

      // c) Mostrar quantas vezes ela escolheu o lado esquerdo em percentual
      $('#lefts').text('Total Esquerdas: ' + ((lefts/currentRound)*100) + '%');
      console.log('%lefts: ',lefts);

      // d) Juntar os tempos de reação de cada rodada para dar o resultado no final
      tot = 0
      deltas.forEach(function(d) {
        tot+=d; 
      });
      $('#interval').text('Duração: ' + tot + ' milisegundos');

      // e) Mostrar uma curva de média deslizante com N = 10 rodadas e step de 1 rodada 
      // em um gráfico em que o X é a rodada e o Y é a percentagem que a pessoa escolheu o lado esquerdo                


      // Sample data (replace this with your actual data)
      var sampleData = []
      results.forEach(function(item,index) {
        sampleData.push({ rodada: index, lado: item[0], valor: item[1], duracao: deltas[index]});
      });
      console.log('sampleData', sampleData);  
      // Event listener for the button click
      const saveButton = document.getElementById("saveButton");
      saveButton.addEventListener("click", function() {
        downloadCSV(sampleData, "results.csv");
      });
      // show result blocks <divs>
      $('#saveButton').show();
      $('#result-button').show();
      $('#result-block').show();
      $('#reset-block').show();



    }

  </script>


  <script>


   
      let countdownInterval;
      let currentRound = 1;
      let secondsLeft = 6;
      let timein = new Date();
      const arr = '<%=arr%>'.split(',');
      const timeReward = '<%=timeReward%>';
      console.log('ARR ', arr, arr[1]);


      // Using objects to store pairs
      var results = [];
      var deltas = [];
      var wins = 0;
      var lefts = 0;

      startCountdown();


      $('button').click(function() {
        document.getElementById('timer');
        //
        // Reset Game
        //
        if (this.id == 'game') {
          window.location.href = 'game';
          return;
        }

        // Display results
        if (this.id == 'result-button') {
          console.log(timein,timeout);

          $('#img-display').hide();
          $('#result-button').hide();
          //$('#saveButton').hide();
          $('#result-list').show();
          return;
        }
        
        // Save results to csv
        if (this.id == 'saveButton') {
          $('#img-display').hide();
          // console.log('saving csv');
        }

        //
        // Playing Game
        //
        if (this.id == 'left' || this.id == 'right') {  


          timeout = new Date();
          console.log(timein,timeout)

          $('#loader-block').hide();
          
          const choice = $(this).attr('id');   
          ////////
          // LEFT 
          ////////
          console.log('choice',choice);
          $('#'+String(choice)).css('background-color', 'blue')
          $('#'+String(choice)).css('border-color', 'blue');
      
          if (choice=='left') {        
            //$('#right').hide();
            $('#right').css('background-color', '#000');
            $('#right').css('border', '#000');
            lefts+=1;            
            clearInterval(countdownInterval);
            setTimeout(function() {
              $('#left').css('background-color', '#FFF')
              $('#left').css('border-color', '#FFF');
              $('#right').css('background-color', '#FFF')
              $('#right').css('border-color', '#FFF');
              $('#buttons').hide();
              $('#play-console').hide();

              console.log('pos ', arr[currentRound-1], currentRound);
          
              if (arr[currentRound-1] == 0) {
                if (secondsLeft >= timeReward) {
                  results.push([choice, 10]);             
                  console.log('push doubled');
                  $('#prize10-image').show();
             
                } else {
                  results.push([choice, 5]);              
                  $('#prize5-image').show();
                } 
                $('#img-display').show();   
                $('#prize-image').hide();          

              } else if (arr[currentRound-1] == 1) {
                wins+=1;
                if (secondsLeft >= timeReward) {
                  results.push([choice, 100]);
                  $('#prize100-image').show();
                  console.log('push doubled');             
                } else {
                  results.push([choice, 50]);              
                  $('#prize50-image').show();
                } 
                
                $('#img-display').show();
              }         
              
              setTimeout(function() {
                $('#img-display').hide(); 
                $('#prize5-image').hide();
                $('#prize10-image').hide();
                $('#prize50-image').hide();
                $('#prize100-image').hide();
                             
                $('#buttons').show();
                $('#play-console').show();
                $('#loader-block').show();

                if (currentRound >= 10) {
                  endGame();
                }

                resetCountdown(6);            
              }, 3000); // displays image for 3 secs.

            },2000); // displays marked button for 2 secs.
            
          } 








          //////////
          //  RIGHT -> left mirrowed operation 
          /////////
          if (choice=='right') {
            $('#left').css('background-color', '#000');
            $('#left').css('border', '#000');

            clearInterval(countdownInterval);
            setTimeout(function() {
              $('#left').css('background-color', '#FFF')
              $('#left').css('border-color', '#FFF');
              $('#right').css('background-color', '#FFF')
              $('#right').css('border-color', '#FFF');

              if (arr[currentRound-1] == 2) {
                wins+=1;
                results.push([choice, 100]);
                $('#prize-image').show();
              } else if (arr[currentRound-1] == 100) {
                results.push([choice, 2])
                $('#no-prize-image').show();
              }

             

              resetCountdown(6);            
            },2000);
          }

            // check results

              // save trial

            

        }
        return;
      });



  </script>
</body>
</html>
