<!DOCTYPE html>
<html>
<head>
  <title>Carga Mental - Play</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="64x64" href="/icons8-brain-64.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/styles.css">  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
</head>
<body>
  <div id="container" class="container">
    <h1>Jogo</h1>        
    <div id="result-block" style="display:none;">
      <p id="result-message"></p>
      <button class="button" id="result-button" style="display:none;"><i class="fa-solid fa-magnifying-glass" style="font-size:xx-large; color: #000000;"></i></button>
      <button class="button" id="saveButton" style="display:none;"><i class="fas fa-save" style="font-size:xx-large; color: #000000;"></i></button>
      <div id="result-list" style="display:none;">
        <ul id="items-list" style="list-style:none;margin-left:-3%;"></ul>
        <p id="max"></p>
        <p id="wins"></p>
        <p id="lefts"></p>
        <p id="interval"></p>
      </div>      
    </div>

    <div id="reset-block" style="display:none;">
      <h3 id="message"></h3>      
      <form action="game" method="post">
        <input type="hidden" name="percentage" id="percentage" value="<%=percentage%>">        
        <input type="hidden" name="rounds1" id="rounds1" value="<%=rounds1%>">
        <input type="hidden" name="rounds2" id="rounds2" value="<%=rounds2%>">                   
        <input type="hidden" name="limit" id="limit" value="<%=limit%>">
        <button class="button" id="game"><i class="fa-solid fa-play" style="font-size:xx-large; color: #000000;"></i></button>
      </form>
      <p>Clique para reiniciar</p>      
    </div>

    <div id="buttons" class="buttons">
        <button class="button" id="left" class="button primary"></button>
        <button class="button" id="right" class="button primary"></button>
    </div>

    <div id="img-display" class="image-container" style="display:none;">
      <img id="prize5-image" width="447" src="/images/5reais.png" alt="Prize 5 Image" style="display:none;">
      <img id="prize10-image" width="447" src="/images/10reais.png" alt="Prize 10 Image" style="display:none;">
      <img id="prize50-image" width="447" src="/images/50reais.png" alt="Prize 50 Image" style="display:none;">
      <img id="prize100-image" width="447" src="/images/100reais.png" alt="Prize 100 Image" style="display:none;">
    </div>

    <div id="loader-block" class="loader-block">
     <div id="timer" style="color:white; display:none;">00:00:00</div>
     <text x="100" y="100" text-anchor="middle" style="display:block;"><tspan id="timeLeft"></tspan></text>

      <div class="timer animatable">
      <svg>
        <circle cx="50" cy="50" r="33"/>
        <circle cx="50" cy="50" r="33" pathLength="1" />
      </svg>
      </div>
    </div>      

    <div id="chosen-block" style="text-align:center; display:none">
      <h1 id="choice"></h1>
    </div>

  </div>

  <script src="/js/utils.js"></script>
  <script>
    $(document).ready(function() {
      // array containing left solutions
      const arr = '<%= arr %>'.split(',');
      console.log('arr ',arr);
      play(arr); 
    }); // document block executes on loading page. //
  </script>
  </body>
</html>
